*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

:root{
    /* BACKGROUND COLOR */
    --bg-primary-color: #0c0c0c;
    --bg-fill-color: #e8e8e8;

    /* TEXT COLOR */
    --text-primary-color: #f0f0f0;

    /* SPACING VARIABLES */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 40px;
    --space-3xs: 48px;
    

    /* BORDER colors*/
    --border-primary-color: #333333;

    /* BORDER RADIUS */
    --border-radius-xs: 4px;
    --border-radius-sm: 8px;
    --border-radius-md: 12px;
    --border-radius-lg: 16px;
    --border-radius-xl: 20px;
    --border-radius-2xl: 24px;
}


html{
    background: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main,section{
    height: 100%;
    width: 100%;
    /* border: 2px solid purple; */
}
section{
    padding: var(--space-2xl);
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);

}
section .infos{
    /* border: 1px solid var(--text-primary-color); */
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* margin: var(--space-md); */
}

.info{
    padding: var(--space-sm) var(--space-md);
    border: 1px solid var(--border-primary-color);
    border-radius: var(--border-radius-sm);
}

.board{
     border: 1px solid var(--border-primary-color);
     flex-grow: 1;
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(50px,1fr));
     grid-template-rows: repeat(auto-fill, minmax(50px,1fr));
     /* display: flex; */
     /* flex-wrap: wrap; */
}
.block{
    /* display: inline-block; */
    border: 1px solid var(--border-primary-color);
}

.fill{
    background: var(--bg-fill-color);
}

